.configured-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: left;
}

.configured-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.configured-image {
  padding: 0 32px 0 0;
}

.configured-image-mobile {
  padding: 20px 0;
}

.configured-linkbutton {
  background-color: #6c6eaf;
	border-radius: 8px;
	border: 1px solid #c5c5db;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 16px;
  text-decoration: none;
  margin: 16px 0 16px 0;
  font-size: 19px;
}
